
  * {
    box-sizing: border-box;
  }

.content {
    max-width: 60%;
    margin: auto;
    background: white;
    padding: 10px;
}

div#quiz{
    padding:10px 40px 40px 40px;
    background-color:#dbecdb;
    width:50%;
}

aside{
    font-size: 30px;
    float: right;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

h1.p{
    font-family: 'Courier New', Courier, monospace;
}


